#root {
  
  margin: 0 auto;
  width: 100%;
  padding: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px); /* Adjust based on your navbar height */
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

/* Add vector background to all h2 elements */
h2 {
        position: relative;
        z-index: 1;
        background: url('/vector-1.png') no-repeat center center;
        background-size: cover;
        height: 80px;           
        display: flex;           
        align-items: center;
        justify-content: center; 
        padding: 0;              
        margin: 0 auto 1.5rem;
        font-weight: 700;
        font-size: 1.5rem;         
        text-align: center;
        line-height: 1.2;
        width: 60%;
}